<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Loan Management</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">

        <!-- Hide all buttons on login/register pages -->
        <ng-container *ngIf="!isAuthPage">
          <!-- Show user's name and Logout if logged in -->
          <ng-container *ngIf="currentUser">
            <li class="nav-item">
              <span class="nav-link text-light">Welcome, {{currentUser.fullName}}</span>
            </li>
            <li class="nav-item">
              <a class="nav-link text-danger" (click)="logout()" style="cursor:pointer;">Logout</a>
            </li>
          </ng-container>

          <!-- Show Login/Register if not logged in -->
          <ng-container *ngIf="!currentUser">
            <li class="nav-item"><a class="nav-link" routerLink="/login">Login</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/register">Register</a></li>
          </ng-container>
        </ng-container>

      </ul>
    </div>
  </div>
</nav>

<!-- Router outlet for pages -->
<div class="container mt-4">
  <router-outlet></router-outlet>
</div>